In [1]:
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt

In [2]:
Movie = pd.read_csv('movie_collection_data.csv')

,Movie_name,Adult,GenreList,Budget,Popularity,VoteAvg,VoteCount,Overview,Tagline,Revenue,ReleaseDate,Runtime,OriginalLanguage,ProductionCompany,ProductionCountry,SpokenLanguage
0,Godzilla vs. Kong,False,"['Action', 'Science Fiction']",200000000,15798.548,8.5,3622,"In a time when monsters walk the Earth, humani...",One Will Fall,285400000,2021-03-24,113.0,en,"[['Warner Bros. Pictures', 'US'], ['Legendary ...",['US'],['en']
1,Zack Snyder's Justice League,False,"['Action', 'Adventure', 'Fantasy', 'Science Fi...",70000000,5584.041,8.6,4557,Determined to ensure Superman's ultimate sacri...,NaN,0,2021-03-18,242.0,en,"[['Warner Bros. Pictures', 'US'], ['The Stone ...",['US'],['en']
2,Raya and the Last Dragon,False,"['Animation', 'Adventure', 'Fantasy', 'Family'...",0,2961.537,8.3,2066,"Long ago, in the fantasy world of Kumandra, hu...",A quest to save her world.,56482606,2021-03-03,107.0,en,"[['Walt Disney Pictures', 'US'], ['Walt Disney...",['US'],['en']
3,Wonder Woman 1984,False,"['Fantasy', 'Action', 'Adventure']",200000000,1818.337,6.8,4695,A botched store robbery places Wonder Woman in...,A new era of wonder begins.,165160000,2020-12-16,151.0,en,"[['DC Entertainment', 'US'], ['Warner Bros. Pi...",['US'],['en']
4,Monster Hunter,False,"['Fantasy', 'Action', 'Adventure']",60000000,1701.854,7.1,1368,A portal transports Cpt. Artemis and an elite ...,"Behind our world, there is another.",25814306,2020-12-03,104.0,en,"[['CAPCOM', 'JP'], ['Constantin Film', 'DE'], ...","['DE', 'CA', 'CN', 'US', 'JP']",['en']

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9738 entries, 0 to 9737
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Movie_name         9738 non-null   object
 1   Adult              9738 non-null   bool
 2   GenreList          9738 non-null   object
 3   Budget             9738 non-null   int64
 4   Popularity         9738 non-null   float64
 5   VoteAvg            9738 non-null   float64
 6   VoteCount          9738 non-null   int64
 7   Overview           9657 non-null   object
 8   Tagline            7065 non-null   object
 9   Revenue            9738 non-null   int64
 10  ReleaseDate        9705 non-null   object
 11  Runtime            9724 non-null   float64
 12  OriginalLanguage   9738 non-null   object
 13  ProductionCompany  9738 non-null   object
 14  ProductionCountry  9738 non-null   object
 15  SpokenLanguage     9738 non-null   object
dtypes: bool(1), float64(3), int64(3), object(9)
memory usage: 1.1+ MB

In [23]:
## Drop INVALID DATA
Movie_CleanedData = Movie[~(Movie['Budget']<281)]
Movie_CleanedData = Movie_CleanedData[~(Movie_CleanedData['Revenue']==0)]
Movie_CleanedData.dropna(subset=['ReleaseDate'])
Movie_CleanedData.drop_duplicates(subset="Movie_name")
Movie_CleanedData.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4287 entries, 0 to 9731
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Movie_name         4287 non-null   object
 1   Adult              4287 non-null   bool
 2   GenreList          4287 non-null   object
 3   Budget             4287 non-null   int64
 4   Popularity         4287 non-null   float64
 5   VoteAvg            4287 non-null   float64
 6   VoteCount          4287 non-null   int64
 7   Overview           4287 non-null   object
 8   Tagline            4015 non-null   object
 9   Revenue            4287 non-null   int64
 10  ReleaseDate        4287 non-null   object
 11  Runtime            4287 non-null   float64
 12  OriginalLanguage   4287 non-null   object
 13  ProductionCompany  4287 non-null   object
 14  ProductionCountry  4287 non-null   object
 15  SpokenLanguage     4287 non-null   object
dtypes: bool(1), float64(3), int64(3), object(9)
memory usage: 540.1+ KB

In [24]:
Movie_CleanedData.nunique()

Movie_name           4203
Adult                   1
GenreList            1262
Budget                498
Popularity           3946
VoteAvg                55
VoteCount            2768
Overview             4287
Tagline              4002
Revenue              4205
ReleaseDate          3236
Runtime               145
OriginalLanguage       28
ProductionCompany    3719
ProductionCountry     453
SpokenLanguage        554
dtype: int64

In [5]:
Profit=[]
for i in range(len(Movie_RemovedRevenue)):
    Profit.append(Movie_RemovedRevenue.iloc[i,3]-Movie_RemovedRevenue.iloc[i,9])
Movie_RemovedRevenue.insert(10,"Profit",Profit,True)

In [17]:
Profit=Movie_RemovedRevenue
Profit.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4287 entries, 0 to 9731
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Movie_name         4287 non-null   object
 1   Adult              4287 non-null   bool
 2   GenreList          4287 non-null   object
 3   Budget             4287 non-null   int64
 4   Popularity         4287 non-null   float64
 5   VoteAvg            4287 non-null   float64
 6   VoteCount          4287 non-null   int64
 7   Overview           4287 non-null   object
 8   Tagline            4015 non-null   object
 9   Revenue            4287 non-null   int64
 10  Profit             4287 non-null   int64
 11  ReleaseDate        4287 non-null   object
 12  Runtime            4287 non-null   float64
 13  OriginalLanguage   4287 non-null   object
 14  ProductionCompany  4287 non-null   object
 15  ProductionCountry  4287 non-null   object
 16  SpokenLanguage     4287 non-null   object
 17  Year               4287 non-null   int64
 18  Month              4287 non-null   int64
dtypes: bool(1), float64(3), int64(6), object(9)
memory usage: 800.5+ KB

In [16]:
Movie_RemovedRevenue.dropna(subset=['ReleaseDate'])
Movie_RemovedRevenue['Year'] = pd.DatetimeIndex(Movie_RemovedRevenue['ReleaseDate']).year
Movie_RemovedRevenue['Month'] = pd.DatetimeIndex(Movie_RemovedRevenue['ReleaseDate']).month

C:\Users\huang\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\huang\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [10]:
Profit.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4287 entries, 0 to 9731
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Movie_name         4287 non-null   object
 1   Adult              4287 non-null   bool
 2   GenreList          4287 non-null   object
 3   Budget             4287 non-null   int64
 4   Popularity         4287 non-null   float64
 5   VoteAvg            4287 non-null   float64
 6   VoteCount          4287 non-null   int64
 7   Overview           4287 non-null   object
 8   Tagline            4015 non-null   object
 9   Revenue            4287 non-null   int64
 10  Profit             4287 non-null   int64
 11  ReleaseDate        4287 non-null   object
 12  Runtime            4287 non-null   float64
 13  OriginalLanguage   4287 non-null   object
 14  ProductionCompany  4287 non-null   object
 15  ProductionCountry  4287 non-null   object
 16  SpokenLanguage     4287 non-null   object
 17  Year               4287 non-null   int64
 18  Month              4287 non-null   int64
dtypes: bool(1), float64(3), int64(6), object(9)
memory usage: 800.5+ KB

In [11]:
Profit.nunique()

Movie_name           4203
Adult                   1
GenreList            1262
Budget                498
Popularity           3946
VoteAvg                55
VoteCount            2768
Overview             4287
Tagline              4002
Revenue              4205
Profit               4234
ReleaseDate          3236
Runtime               145
OriginalLanguage       28
ProductionCompany    3719
ProductionCountry     453
SpokenLanguage        554
Year                   92
Month                  12
dtype: int64

In [12]:
Languages=[]
for i in range(len(Profit)):
    Languages.append(Profit.iloc[i,16].count(element))
print(Languages)

NameError: name 'element' is not defined

In [ ]:
x=Profit['SpokenLanguage'].tolist
print(x)

In [ ]:
Profit['SpokenLanguage'].tolist